<!-- this isn't rendering any data from the API;
in movie-details.ts, I tried adding get movie() { return this.data.movie; }
in movie-card.ts, I tried details:details, details:movie

director and genre render as expected, but copying that logic isn't working for details
-->

<h2 mat-dialog-title>Movie Details</h2>
<mat-dialog-content>
  <p>Rating: {{ data.details.Rating }}</p>
  <p>Release: {{ data.details.Release }}</p>
  <p>Description: {{ data.details.Description }}</p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
